<div class="container__big-card">

  <div class="big-card__photo">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTC3r7lbpNaJPxC7tZ_VOyzzaGchVonTvhgTkjxogOWqEvO2pK4WWDqvWWVTWChhOjfv0&usqp=CAU"
    alt=""
    height="200px"
    >
  </div>

  <div class="big-card__title">
    <h1>
      <a href="#">
        Saiu a nova versão do Angular
      </a>
    </h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magnam ad deserunt pariatur corporis exercitationem debitis aliquid nulla eos consectetur, autem porro eius, impedit illum dicta sunt iste ducimus doloremque?</a></p>
  </div>
</div>
